<!DOCTYPE html>
<html>
<head>
<meta name="bookstore" content="Learning">
<link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="div-add1">
        <h1 class="book-header">Bookstore</h1>
        <a href="/home">Back</a>
    </div>
    
      <form action="/home/add" method="POST">
        <label>Name</label>
        <input type="text" name="Name" placeholder="Titanic">
        <label>Description</label>
        <input type="text" name="Description" placeholder="type description here...">
        <label>Author</label>
        <input type="text" name="Author" placeholder="mitchel">
        <button>
            Submit
        </button>
      </form>
</body>
</html>



